@media (max-width: 1200px) {
  .top {
    &__content {
      margin-right: 15px;
    }

    &__img {
      max-width: 50%;
    }
  }
}


@media (max-width: 1060px) {
  .footer-top {
    &__content {
      justify-content: space-between;
    }

    &__content-item+.footer-top__content-item {
      margin-left: 0;
    }
  }

  .top {
    &__img {
      max-width: 40%;
    }
  }
}

@media (max-width: 1030px) {
  .stages {
    &__inner {
      flex-direction: column;
      gap: 40px;
    }
  }
}





@media (max-width: 902px) {
  .header {
    .menu {
      order: 1;
      margin-right: 0;
      margin-left: 15px;

      &__list {
        transform: translateY(-250%);
        position: absolute;
        top: 95px;
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        transition: all 0.3s;
        background-color: #1c1e53;
        gap: 10px;

        &.menu__list--active {
          transform: translateY(0%);
          transition: all 0.3s;
        }
      }

      &__btn {
        display: none;
        width: 43px;
        height: 25px;
        padding: 0;
        border: none;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        span {
          display: block;
          width: 100%;
          height: 3px;
          background-color: #fff;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          height: 3px;
          background-color: #fff;
          width: 100%;
        }

        &::after {
          top: 0;
        }

        &::before {
          bottom: 0;
        }
      }
    }

    .user-nav {
      margin-left: auto;
      padding-right: 15px;
    }
  }

  .top {
    &__img {
      display: none;
    }

    &__content-title,
    &__content-text {
      max-width: 680px;
    }
  }

}



@media (max-width: 850px) {
  .footer-top {
    padding-top: 50px;

    &__content {
      flex-direction: column;
    }

    &__content-text,
    &__text {
      max-width: 590px;
    }

  }

  .footer-bottom {
    &__inner {
      flex-direction: column;
    }
  }

  .top {
    &__content {
      padding: 60px 0;
    }
  }

  .stages,
  .projects {
    padding: 64px 0;
  }

  .projects {
    &__item-minbox {
      padding: 15px;
    }
  }
}

@media (max-width: 790px) {
  .projects {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

}


@media (max-width: 640px) {
  .stages {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

    }

    &__item {
      max-width: 425px;
    }
  }

  .projects {
    &__top {
      flex-direction: column;
      gap: 15px;
    }
  }
}


@media (max-width: 550px) {
  .footer-top {
    &__contacts {
      padding: 16px;
    }
  }

  .footer-bottom {
    .menu__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px 15px;

    }
  }

  .top {
    &__content-title {
      font-size: 44px;
      line-height: 64px;
    }
  }

  .projects {
    &__item-minbox {
      padding: 15px;
    }

    &__item-title {
      font-size: 18px;
      line-height: 24px;
    }
  }

}

@media (max-width: 460px) {
  .top {
    &__content-links {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px
    }

    &__content-link+.top__content-link {
      margin-left: 0;
    }
  }

  .projects {
    &__top-title {
      font-size: 30px;
      line-height: 38px;
      text-align: center;
    }
  }
}


@media (max-width: 446px) {
  .header {
    &__inner {
      flex-wrap: wrap;
    }

    .menu__list {
      top: 56px;
    }

    .user-nav {
      display: none;
    }
  }

  .footer-top {
    &__contacts {
      flex-direction: column;
      gap: 15px;
    }
  }

}

@media (max-width: 425px) {
  .projects {
    &__item-bigbox {
      padding: 25px;

      .projects__item-text {
        margin-bottom: 15px;
      }
    }

    &__item-minbox {
      .projects__item-link {
        padding-right: 25px;

        &::before {
          left: 110px;
        }
      }

      .projects__item-title {
        font-size: 16px;
        line-height: 20px;
      }
    }

  }

}