$royalBlue: #2405F2;
$darkBlue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tintBlue: #1C1E53;
$accent: #EEF4FA;


%poppins-400 {
  font-family: 'Poppins';
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins';
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins';
  font-weight: 600;
}

%body-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

%label-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}


%label-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

%heading-h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}

%heading-h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

%heading-h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

%heading-h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 56px;
}

%heading-h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

%heading-h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}


