.inquiry {
  &__inner {
    display: flex;
  }

  &__content {
    background-image: url('../images/inquiry-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 96px 96px 261px;
  }

  &__content-title {
    @extend %heading-h1;
    color: #FFF;
    margin-bottom: 24px;
    width: 464px;
  }

  &__content-text {
    @extend %body-2;
    color: #FFF;
    max-width: 464px;
  }

  &__send {
    padding: 96px 96px 48px;
    background-color: $tintBlue;
  }

  &__send-title {
    @extend %heading-h5;
    color: #fff;
    margin-bottom: 16px;
  }

  &__send-text {
    max-width: 432px;
    @extend %label-2;
    color: $grey;
    margin-bottom: 40px;
  }

 
  &__send-input {
    width: 432px;
    background-color: $tintBlue;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 18px 0 18px 32px;
    margin-bottom: 16px;
    color: $grey;

    &::placeholder {
      color: $grey;
      opacity: 0.5;
    }

    &:focus-visible {
      outline: none;
    }

    &:nth-child(3) {
      margin-bottom: 39px;
    }
  }

  &__send-btn {
    display: inline-block;
    cursor: pointer;
    padding: 16px 145px;
    margin-bottom: 28px;
  }

  &__send-link {
    display: flex;
    justify-content: center;
    @extend %label-1;
    color: #fff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 12px;
      top: 10px;
      right: 84px;
      background-image: url('../images/icons/arrow-right.svg');
    }
  }

}