.pricing {
  padding-top: 128px;

  &__title {
    @extend %heading-h2;
    text-align: center;
  }

  &__text {
    max-width: 562px;
    @extend %body-2;
    opacity: 0.7;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
  }

  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    max-width: 406px;
    padding: 64px 77px 62px 48px;
    background-color: $grey;
    border-radius: 12px;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-price {
    @extend %heading-h3;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    span {
      @extend %poppins-400;
      font-size: 16px;
      line-height: 28px;
      color: #2405F2;
      margin-left: 8px;

    }
  }

  &__item-title {
    @extend %heading-h6;
    margin-bottom: 8px;
  }

  &__item-text {
    @extend %body-2;
    opacity: 0.7;
    max-width: 281px;

  }

  &__item-desc {
    display: flex;
    margin-bottom: 20px;
  }

  &__item-icon {
    margin-right: 12px;
  }

  &__item-icon--inactive {
    mix-blend-mode: luminosity;
  }

  &__item-link {
    text-align: center;
    @extend %poppins-600;
    color: $grey;
    padding: 16px 78px;
  }

  &__item--center {
    background-color: #1C1E53;
    position: relative;
    overflow: hidden;

    .pricing__item-price {
      color: #fff;

      span {
        color: $yellow;
      }
    }

    .pricing__item-box,
    .pricing__item-list {
      z-index: 2;
    }

    .pricing__item-title,
    .pricing__item-info {
      color: #fff;

    }

    .pricing__item-text {
      color: #fff;
      opacity: 0.7;
    }

    .pricing__item-link {
      color: $darkBlue;
    }

    &::before {
      content: '';
      position: absolute;
      height: 590px;
      width: 812px;
      top: 0;
      right: -203px;
      background: #292B5D;
      border-radius: 12px 12px 50% 50%;
    }
  }

}