.process {
  padding: 128px 0;

  &__title {
    @extend %heading-h2;
    text-align: center;
    margin-bottom: 48px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 296px;
  }

  &__item-icons {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    svg+svg {
      margin-left: 24px;
    }
  }

  &__item-title {
    @extend %heading-h6;
    margin-bottom: 8px;
  }

  &__item-text {
    opacity: 0.7;
    max-width: 272px;
  }
}