.reviews {
  padding: 128px 0;
  background-color: rgba($grey, 0.5);

  &__inner {
    display: flex;
  }

  &__content {
    max-width: 327px;
    margin-right: 110px;
  }

  &__content-title {
    @extend %heading-h3;
    margin-bottom: 16px;
  }

  &__content-text {
    opacity: 0.7;
  }
}

.reviews-slider {
  max-width: 843px;

  &__item-blockquote {
    @extend %heading-h5;
    margin-bottom: 48px;
  }

  &__item-author {
    max-width: 250px;
    display: flex;
  }

  &__item-img {
    margin-right: 10px;
    object-fit: contain;
  }

  &__item-name {
    @extend %label-1;
  }

  &__item-position {
    @extend %poppins-500;
    font-size: 12px;

  }

  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #5239FA;

      path {
        fill: #fff;
        opacity: 1;
      }
    }
  }

  .slick-prev.slick-arrow {
    right: 77px;
    z-index: 1;
  }

  .slick-next.slick-arrow {
    right: 0;
  }
}