.work {
  background-color: $grey;
  padding: 128px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 405px;
  }

  &__content-title {
    @extend %heading-h2;
    margin-bottom: 16px;
  }

  &__content-text {
    opacity: 0.7;
    margin-bottom: 16px;
  }

  &__content-link {
    display: inline-block;
    @extend %label-1;
    color: $royalBlue;
    padding-right: 41px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 12px;
      right: 0;
      top: 10px;
      background-image: url('../../images/icons/arrow-blue.svg');
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 25px;
  }

  &__item {
    max-width: 303px;
  }

  &__item-img {
    margin-bottom: 16px;
  }

  &__item-title {
    @extend %heading-h5;
    margin-bottom: 8px;
  }

  &__item-text {
    opacity: 0.7;
  }
}