.working {
  padding: 128px 0;

  &__title {
    max-width: 630px;
    @extend %heading-h2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__item {
    max-width: 405px;
    padding: 50px 33px 48px 48px;
    background-color: $grey;
  }

  &__item-img {
    margin-bottom: 26px;
  }

  &__item-title {
    @extend %heading-h6;
    margin-bottom: 12px;
  }

  &__item-text {
    opacity: 0.7;
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__clients-info {
    @extend %heading-h3;

    span {
      display: block;
      @extend %poppins-400;
      font-size: 16px;
      line-height: 28px;

      opacity: 0.7;
    }
  }

  &__clients-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__clients-link {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }
}